---
import IconBike from "@/assets/icons/IconBike.svg";
import IconRunner from "@/assets/icons/IconRunner.svg";
import "../styles/sports.css";
---
  
<div class="container mx-auto max-w-[736px]">
  <div id="totalActivities">
      <div id="totalTitle" class="total-title"></div>
      <div id="totalCount" class="total-count">
          <span id="ridingTimeThisYearValue">0</span>
          <div class="loading-spinner"></div>
      </div>
      <div id="totalLabel" class="total-label">骑行总公里数</div>
      <div id="milesRiddenThisYear" class="total-distance">
          <span id="milesRiddenThisYearValue">0</span>
          <div class="loading-spinner"></div>
      </div>
  </div>
  <div id="calendar" class="calendar"></div>
  <div class="sports">
      <div class="icon-container">
          <div class="icon-item">
              <div class="road_bike_color"></div>
              <IconBike class="icon-svg cycling" />
          </div>
          <div class="icon-item">
              <div class="running_color"></div>
              <IconRunner class="icon-svg running" />
          </div>
      </div>
      <div id="barChart" class="bar-chart"></div>
  </div>
</div>

<script type="module" src="/scripts/sports.js"></script>